<blockquote style="{{ block.styleAttribute }}">
    <div>{{ block.content|map(c => c.getInputHtml())|join('')|raw }}</div>
    <div>- {{ block.author|map(a => a.getInputHtml())|join('')|raw }}</div>
</blockquote>
