<div data-block-input data-block-id="{{ block.id }}" style="{{ block.attributes.style }}">
    {% for child in block.children %}
        {{ child.getInputHtml()|raw }}
    {% endfor %}

    {% if not block.hasChildren() %}
        <div class="p-4 border border-dashed border-gray-300 text-gray-500 bg-gray-200 rounded">empty box</div>
    {% endif %}
</div>
