<div>
    <label class="block">{{ control.getLabel() }}</label>
    <input class="text-blue-500 w-full" type="text" name="{{ control.getName() }}" x-on:change="handleChange" value="{{ control.getValue() }}" placeholder="None">
</div>